#it really is simple and sadly contains username,password,
# so that cannot be tracked by git

library.xml
credentials.txt
*.iml
src/main/java/generated
src/main/java/org/vanautrui/octofinsights/generated
